
  @import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@200&display=swap');

  body{
    font-family: 'Exo', sans-serif;
font-family: 'Poppins', sans-serif;
  }
.logopng{
    width: 100px;
}
.navbarheight{
    max-height: 80px;
}
.roundedbutton{
    border-radius: 16px;
}
.roundbutton1{
    border-radius: 10px;
    height: 40px;
    background-color: #F2F3F8!important;
}
.icon{
    width: 25px;
    margin-bottom: 4px;
}
.roundedcontainer{
    border-radius: 20px;
}
.heightcontainerhero {
    max-height: 350px;
}